<% if (board) { %>
<form>
  <label for="title">Board Title</label>
  <input type="text" name="board[title]" id="title" value="<%= board.escape("title") %>">

  <p><input type="submit" value="Continue &rarr;"></p>
</form>

<% } %>