<% boards.forEach(function(board) { %>
  <% var boardUrl =  "#/boards/" + board.escape("id") %>
  <div class="white_area">
    <span class="title"><a href="<%= boardUrl %>">
      <%= board.escape("title") %>
    </a></span>

    <p><a href="<%= boardUrl %>/edit">
      Edit
    </a></p>

    <p><button class="destroy-board" data-id="<%= board.escape("id") %>">
      Destroy Board
    </button></p>
  </li>
  </div>
<% }) %>

<button class="newBoard"><a href="#/boards/new">New Board</a></button>