<% boards.forEach(function(board) { %>
  <% var boardUrl =  "#/boards/" + board.escape("id") %>
  <div class="board-choices">
    <a href="<%= boardUrl %>"><div class="white_area">
      <span class="title">
        <%= board.escape("title") %>
      </span>
    </div></a>

    <span><button class="destroy-board btn btn-danger" data-id="<%= board.escape("id") %>">
      Destroy Board
    </button></span>
  </div>
<% }) %>

<button class="newBoard"><a href="#/boards/new">New Board</a></button>