<div>
    <a href="#/">Back to Index</a>
</div>
<div class="board_title">
<span class="title current_title">
  <%= board.escape("title") %>
</span>
  <form class="edit_board_title hidden">
    <input type="text" name="board[title]" value="<%= board.escape("title") %>">
  </form>
</div>

<div class="board_members">
  <ul class="lists" id="sortable">
  </ul>
</div>

<div class="new_list"></div>