<h1>Forgot Password</h1>

<form method='POST' action='<%= password_reset_url %>'>
  <label>
    Input Email
    <input type='email' name='user[email]'>
  </label>
  <input type='submit' value='Generate New Password'>
</form>