li.board_entry, li.list_entry, .new_list {
  background-color: #fafafa;
  border: 1px solid #d4d4d4;

  text-align: center;
  font-size: 18px;

  width: 225px;
  margin: 3px;
  border-radius: 4px;
  border-radius: 4px;

  padding:6px 12px 8px 12px;
  font-size:18px;
  margin-bottom: 15px;

  float: left;
}

li.board_entry {
  background-color: #DBDBDB;
  text-align: left;
}

.new_list {
  padding: 0px;
  margin: 3px;
  background-color: #1e638c;
  color: lightblue;
  border: 0px;
  
}

button.new_list {
  height: 100px;
  width: 100%;
  background-color: #1e638c;
}

button.new_list:hover {
  background-color: #194f70;
}

button.newBoard {
  display: block;
  background-color: white;
}

button.newList {
  display: block;
  clear: both;
}

.destroy-board {
  margin: 20px;
}

.edit_board_title input {
  background-color: green;
  font-size: 18px;
}

.list_holder {

  text-align: center;
  font-size: 18px;

  width: 225px;
  height: 300px;
  margin: 3px;
  background: #A8A8A8;
  border-radius: 4px;
  border-radius: 4px;

  padding:6px 12px 8px 12px;
  font-size:18px;
  margin-bottom: 15px;

  float: left;
}

.card_holder {
  border: 1px solid #d4d4d4;

  text-align: center;
  font-size: 18px;

  width: 170px;
  height: 20px;
  margin: 3px;
  background: lightgray;
  border-radius: 4px;
  border-radius: 4px;

  padding:6px 12px 8px 12px;
  font-size:18px;
  margin-bottom: 15px;

  float: left;
}

#sortable.cards {
  min-height: 30px
}

