.new_card, .card_entry {
	margin: 3px;
}

.current_title {
	padding: 5px;
	border-radius: 5px;
	color: white;
}

.current_title:hover {
	background-color: #1e638c;
}

.edit_board_title input') {
	font-size: '30px'
	}