.card_entry {
	margin: 3px;
}

.new_card {
	width: 100%;
}

.new_card button {
	width: 70%;
	background-color: #0B9C53;
	color: white;
	border: gray;
}

.new_card button:hover {
	background-color: green;
}



.current_title {
	padding: 5px;
	border-radius: 5px;
	color: white;
}

.current_title:hover {
	background-color: #1e638c;
}

.edit_board_title input {
  font-size: '30px';
}

.dropdown {
	float: right;
}

.list_title {
	padding: 5px;
	border-radius: 5px;
}

.list_title:hover {
	background-color: #A8A8A8;
}