<li class="board_entry">
  <span class="title" data-list="<%= list.escape("id") %>">
    <%= list.escape("title") %>
  </span>
  <form class="edit_list_title hidden" data-list="<%= list.escape("id") %>">
    <input type="text" name="list[title]" value="<%= list.escape("title") %>">
  </form>

  <div class="new_card"></div>

  <ul class="cards"></ul>

    <button class="destroy_list">Destroy List</button>
</li>